body {
  background-color: black;
  color: white;
  font-family: "Franklin Gothic", Arial, Helvetica, sans-serif;
}

a {
  color: rgba(0, 0, 0, 0) !important;
  -webkit-text-stroke: 1px yellow;
  font-size: 3em;
  font-weight: 600;
  position: relative;
  transition: 0.25s;
  margin: 0 0.5em;
}

a:hover {
  color: yellow !important;
}

a:hover::after {
  content: attr(alt);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px yellow;
}

.navbar {
  height: 15vh;
}

.Home {
  background: black;
  height: 100vh;
  display: flex;
  position: relative;
}
