:root {
  --primary: 255, 255, 0;
}

::-webkit-scrollbar {
  background: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--primary));
}

body {
  background-color: black;
  color: white;
  font-family: "Franklin Gothic", Arial, sans-serif;
}

.nav-link {
  color: rgb(var(--primary)) !important;
  -webkit-text-stroke: 0px;
  font-size: 4vw;
  font-weight: 600;
  position: relative;
  transition: 0.25s;
  margin: 0 0.6vw;
}

.nav-link-black {
  -webkit-text-stroke: 1px black !important;
  color: transparent;
}

.nav-link-black:hover::after {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 1) !important;
}

.nav-link:hover {
  color: rgb(var(--primary)) !important;
}

.nav-link:hover::after {
  content: attr(alt);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px rgba(var(--primary), 0.5);
}

a {
  color: yellow;
}

.navbar {
  height: 10vh;
  transition: 0.5s;
}

.Home {
  background: black;
  height: 100vh;
  display: flex;
  position: relative;
}

.nav-link-black:hover {
  color: black !important;
}

.text-transition {
  color: white;
  position: absolute !important;
  font-size: 2rem;
  white-space: nowrap;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.text-transition_inner {
  white-space: nowrap;
}

h1 {
  font-size: 3.5em;
  font-style: italic;
  background: repeating-linear-gradient(
    to bottom,
    rgb(var(--primary)),
    rgb(var(--primary)) 2px,
    transparent 2px,
    transparent 4px
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
  /* -webkit-text-stroke: 1px rgba(var(--primary), 1); */
}
p {
  font-size: 1.2em;
  text-align: justify;
  text-indent: 1.5em;
  font-stretch: condensed;
}

b {
  color: rgb(var(--primary));
  font-stretch: normal;
}

.fullcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-strong::before {
  background-color: rgba(0, 0, 0, 0.93);
  margin-bottom: 10vh;
}

.overlay::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.card-img {
  height: 320px;
}

.card-body {
  padding: 0 1rem 0.5rem 1rem;
}

.card-title {
  padding: 0.5rem 1rem 0 1rem;
  margin: 0;
}

.card {
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .nav-link {
    color: rgba(0, 0, 0, 0) !important;
    -webkit-text-stroke: 1px rgb(var(--primary));
    font-size: 3vw;
  }

  .nav-link:hover::after {
    font-size: 1.5em;
  }
}
